body {
  text-align: center;
  margin: 0;
  font-family: "Merriweather", serif;
  background-color: rgb(247, 241, 233);
}
h1 {
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  font-size: 90px;
  color: #66bfbf;
  line-height: 2;
}
h2 {
  font-size: 2.5rem;
  font-weight: normal;
  color: #66bfbf;
}
h3 {
  color: #11999e;
}
.top-container {
  position: relative;
  padding-top: 100px;
  background-color: #daf0f0;
}
p {
  color: #40514e;
}

hr {
  border-style: none none dotted none;
  width: 7%;
  border-width: 0.7rem;
  color: #cbd0d0;
  margin: 50px auto 50px auto;
}

.cloud-bottom {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.cloud-top {
  position: absolute;
  right: 300px;
  top: 50px;
}

.profile-photo {
  margin-top: 3rem;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.skill-row {
  width: 40%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.skill {
  float: left;
  width: 25%;
}
.other-skills {
  float: right;
  width: 25%;
}
.btn {
  display: inline-block;
  margin: 10px auto 60px auto;
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.bottom-container {
  padding: 50px 0 20px 0;
  background-color: #66bfbf;
}
a {
  margin-left: 20px;
  margin-right: 20px;
  color: #11999e;
  margin-top: 20px;
  text-decoration: none;
}
a:hover {
  color: #000;
}
.Mantas {
  color: #eaf6f6;
}
